<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

    <body>
        <div class="encabezado">
            <div class="icon">
                <a class="icon" href="\login"><i class="fas fa-user"></i></a>
            </div>
        </div>
        <div class="contenedor">
            <%- include('./partials/header')%>
        </div>
        <section class="banner">
            <img src="/images/tool22.jpg" alt="Banner">
        </section>
        <div class="menu-pro">

            <span>Recientes</span>
            <span>Ofertas Especiales</span>
            <span>Populares</span>
        </div>
        <main>
            <section>
                <div class="products">

                    <% products.forEach(product => { 
                        let finalPrice = product.price - (product.price * product.discount / 100);
                %>    
                    <article class="article-product">
                        <a href="/detalle/<%= product.id %>">
                            <img src="/images/<%= product.image %>" class="img-width" alt="<%= product.name %>">
                            <div class="description-product">
                               
                                <p class="price">$ <%= toThousand(finalPrice.toFixed(0)) %> </p>
                                <% if(product.discount > 0) { %>
                                    <p class="discount"> <%= product.discount %> % off</p>
                                <% } %>
                                <h4 class="hidden-product name-product"><%= product.name %></h4>
                            </div>
                        </a>
                    </article>
                <% }) %>
            </div>

                 <!--   <div>
                        <article><a href="\detalle">
                                <img src="./images/img-motosierra-Bosch.jpg"
                                    alt="producto1" href="detalle.html">
                                <div class="main-article">
                                    <p class="detalle">Motosierra A Nafta</p>
                                    <p class="precio">$18.400</p>
                                    <p class="descuento">35% off</p>

                                </div>
                            </a></article>
                    </div>
                    <div>
                        <article>
                            <img src="./images/img-set-herramientas-bremen.jpg" alt="producto2"
                                alt="producto2">
                            <div class="main-article">
                                <p class="detalle">Juego De Herramientas</p>
                                <p class="precio">$6.097</p>
                                <p class="descuento">40% off</p>

                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="./images/imp-compresor-aire-niwa.jpg" alt="producto3"
                                alt="producto3">
                            <div class="main-article">
                                <p class="detalle">Compresor De Aire Electrico</p>
                                <p class="precio">$41.819</p>
                                <p class="descuento">20% off</p>

                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="./images/img-rotomartillo-Bosch.png"
                                alt="producto4">
                            <div class="main-article">
                                <p class="detalle">Rotomartillo Sds Max 10</p>
                                <p class="precio">$30.791</p>
                                <p class="descuento">10% off</p>

                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="./images/img-hidrolavadora-gadnic.jpg" 
                                alt="producto5">
                            <div class="main-article">
                                <p class="detalle">Hidrolavadora Alta Presión</p>
                                <p class="precio">$12.608</p>
                                <p class="descuento">Envío sin cargo</p>

                            </div>
                        </article>
                    </div>
                    <div>
                        <article>
                            <img src="./images/img-gabinete-carro-gladiator.jpeg"
                                alt="producto6">
                            <div class="main-article">
                                <p class="detalle">Gabinete Carro</p>
                                <p class="precio">$78.906</p>
                                <p class="descuento">10% off</p>

                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main> -->
        <%- include('./partials/footer')%>
            

    </body>

</html>