<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- recordar incluir head en las hojas -->
        <%- include('./partials/head')%>
        <title>Registro</title>
        <link rel="stylesheet" href="/css/register.css">
    </head>
    

<body>
    <div class= "contenedor">
        <header>
            <div class="logo" href="/">
                <a href="\"> <img width="50%" src="/images/logotipo-central.png" alt="Logo Hermaq"></a>
            </div>
        </header>
            <h1>
                Crear cuenta
            </h1>
            <div class= "caja-datos">
                <h2>
                    Datos:
                </h2>
            </div>
        <form action="/register" class="form" method="POST" enctype="multipart/form-data ">
            <div class= "contenedor-datos">
                   
                    <label>Nombre</label><input type="text" heigth="20" name= "nombre">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="errors">
                            <%= errors.nombre.msg %> 
                        </div>
                    <% } %>
                    <br>
                    <label>Apellido</label><input type="text" name= "apellido" >
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="errors">
                            <%= errors.apellido.msg %> 
                        </div>
                    <% } %>
                    <br>
                    <label>Dirección</label><input type="text" name= "direccion" >
                    <% if (locals.errors && errors.direccion) { %>
                        <div class="errors">
                            <%= errors.direccion.msg %> 
                        </div>
                    <% } %>
                    <br>
                    <label>Email</label><input type="email" name= "email" >
                    <% if (locals.errors && errors.email) { %>
                        <div class="errors">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
            </div>
            <div class="caja-contraseña">
                <h2>
                    Contraseña:
                </h2>
            </div>
            <br>
            <div class="contenedor-contraseña">
                    <label>Ingrese Contraseña</label><input type="password" name="password" >
                    <% if (locals.errors && errors.password) { %>
                        <div class="errors">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                    <br>
                    <label>Confirmar contraseña</label><input type="password" name="confirmPassword" >
                    <% if (locals.errors && errors.password) { %>
                        <div class="errors">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
            </div>
            <div class="buttons">
                <button type="reset">Borrar</button>
                <br>
                <button type="submit">Crear Usuario</button>
            </div>
        </form>
        
        <footer>
            <%- include('./partials/footer')%>
        </footer>
    </div>
</body>

</html>
